<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Recognizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Recognizer.Properties.Settings>
            <setting name="SyntetSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="WordnetDir" serializeAs="String">
                <value>C:\Users\Geso\workspace\mgr\WNdb-3.0\dict</value>
            </setting>
            <setting name="ModelDir" serializeAs="String">
                <value>C:\Users\Geso\workspace\mgr\models</value>
            </setting>
            <setting name="WordnetInMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputFile" serializeAs="String">
                <value>C:\Users\Geso\workspace\mgr\input.txt</value>
            </setting>
        </Recognizer.Properties.Settings>
    </userSettings>
</configuration>